body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    font-family: Spinnaker, sans-serif;
    text-align: center;
    background-color: #665349;
    color: #47EAEA;
}

h1 {
    font-size: 6rem;
}

h4 {
    font-weight: 900;
} 

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  padding-bottom: 30%;
}

p {
    padding-right: 5px;
    margin: 0;
    color: #47EAEA;
}

.section {
    height: 100vh;
    margin: 0;
    width: 99vw;
}

canvas {
    height: 94vh;
    background-color: black;
}

iframe {
    height: 96vh;
    width: 100vw;
}

.contact_icons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    padding: 10px;
    font-size: 2rem;
}

a {
    color: #47EAEA;
}

.footer {
    background-color: #A22F2F
}

@media screen and (max-width: 500px) {
    h1 {
        padding-bottom: 50%;
    }
    canvas {
        height: 77vh;
    }
    iframe {
        height: 83vh;
        width: 100vw;
    }
    .color-guess-game {
        height: 77vh;
        width: 100vw;
    }
    .todo-app {
        height: 80vh;
        width: 100vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    h1 {
        padding-bottom:0;
    }
    canvas {
        height: 77vh;
    }
    iframe {
        height: 83vh;
        width: 100vw;
    }
    .color-guess-game {
        height: 80vh;
        width: 100vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    h1 {
        padding-bottom:50%;
    }
    canvas {
        height: 90vh;
    }
    iframe {
        height: 90vh;
        width: 100vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
/*     h1 {
        padding-bottom:55%;
    } */
    canvas {
        height: 95vh;
    }
    iframe {
        height: 95vh;
        width: 100vw;
    }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
    h1 {
        padding-bottom:50%;
    }
    canvas {
        height: 95vh;
    }
    iframe {
        height: 95vh;
        width: 100vw;
    }
}
