body {
  padding-top: 70px;
  font-family: Spinnaker, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar-default .navbar-brand {
  font-size: 1em;
  color: #fff;
}

.navbar-right {
  font-size: 0.9em;
}

.navbar {
  background-image: none;
  background-color: #320F00;
  opacity: 0.8;
  border: none;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;

}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d52d30;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d52d30;
}

.content-font {
  font-size: 1.5em;
}

#about {
  /* height:300px;  */
  padding-top: 100px;
  padding-bottom: 50px;
}

.projects_word {
  background-color: #543735;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 0.8;
}

.contact {
  background-color: blue;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 15px;
  opacity: 0.8;
}

#portfolio {
  padding-bottom: 50px;
}

/*
    project titles
*/

/*
    end project titles
*/

a {
  color: #d52d30;
}

a:hover {
  text-decoration: line-through;
  color: #d52d30;
}

.fcc,
.fcc:hover {
  color: #3b6427;
}

.description {
  padding-bottom: 50px;
}

img {
  width: 100%;
}

.contact {
  height: 100px;
  background-color: red;
}

.no_line a {
  text-decoration: none;
  padding: 10px;
}

.contact_icons {
  padding: 50px 0;
}
