/* Defaults */
a {
	color: #fff;
}
a:visited {
	color: #fff;
}
.email {
	color: #000;
}
.email:visited {
	color: #000;
}
.email:hover, .resume:hover {
	text-decoration: line-through;
}


/* Content */
.main_bottom {
	background: #FAA197; 
}
