/* Defaults */
.info {
	height: 500px;
}
h1 {
	font-size: 3.5rem;
}
h4 {
	margin-top: 10px;
	font-size: 2.2rem;
}
p {
	margin-top: 50px;
	max-width: 750px;
}
h3 {
	font-size: ;
}
img {
  	max-height: 40%;
  	width: 200px;
  	margin-top: 15%;
  	align-self: center;
}
nav {
	position: fixed;
	z-index: 99;
}
iframe {
	height: 94%;
	width: 100%;
}
.block {
	display: block;
}
.p_t_100 {
	padding-top: 100px;
}
.p_b_100 {
	padding-bottom: 100px;
}
.p_t_50 {
	padding-top: 50px;
}
.p_b_50 {
	padding-bottom: 50px;
}
.p_r_50 {
	padding-right: 50px;
}
.p_l_50 {
	padding-left: 50px;
}
.m_t_50 {
	margin-top: 50px;
}
.site {
	padding: 25px;
}

/* Projects / Showcase */

/* NetRango */
.netrango_info {
	background: #A592BD;
	color: #fff;
}
.netrango_screenshot {
	max-height: 94%;
	width: 100%;
	margin-top: 0;
	align-self: flex-start;
}
.netrango_browser {
	border: 1px solid #b2b5ac;
}
.netrango_site {
	background: #fff;
	color: #000;
	border: 1px solid #A592BD;
}
.netrango_site:visited {
	color: #000;
}
.netrango_site:hover {
	background: #A592BD;
	color: #fff;
}

/* Weather App */
.weather_app_info {
	background: #F8824E;
	color: #fff;
}

/* Color Guessing Game */
.color_guessing_game_info {
	background: #9AB4CF;
	color: #fff;
}
.color_guessing_game_site {
	background: #fff;
	border: 1px solid #9AB4CF;
	color: #000;
}
.color_guessing_game_site:visited {
	color: #000;
}
.color_guessing_game_site:hover {
	background: #9AB4CF;
	color: #fff;
}
.color_game_link, .color_game_link:hover, .color_game_link:visited {
    color: #9AB4CF;
}

/* Patatap Clone */
.patatap_clone {
	/*background: #FDD267;*/
	background: #86B69C;
	color: #fff;
}
.patatap_clone_site {
	background: #fff;
	color: #000;
	border: 1px solid #86B69C;
}
.patatap_clone_site:visited {
	color: #000;
}
.patatap_clone_site:hover {
	background: #86B69C;
	color: #fff;
}
.instructions {
    margin-top: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.instructions_list {
	list-style: circle;
	color: #000;
}
.instructions_list_items {
	display: block;
}
.patatap_game_link, .patatap_game_link:hover, .patatap_game_link:visited {
	color: #86B69C;
}


/* Broswer */
.browser {
  width: 800px;
  height: 500px;
  background: #eee;
  position: relative;
  border-radius: 5px;
}

.title-bar {
  height: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #bbc6c7;
  padding: 12px 0 0 10px;
}

.broswer > .title-bar > .controls {
  margin-top: 50px;
}

.browser .title-bar .controls span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  margin-right: 5px;
  float: left;
  display: block;
}

.controls .exit {
  background-color: #f75745;
}

.controls .minimize {
  background-color: #ffd000;
}

.controls .full-screen {
  background-color: #9af705;
}